<nav class="navbar navbar-blue navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"> <img alt="Brand" style="float:left;height:20px;width:20px;padding:0px;margin:0px;display:block;position:relative;" src="images/PortalLogo2_Final_small.png"> &nbsp;BizTech Dashboard</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a routerlink="">Dashboard</a></li>
            <li class="active"><a routerLink="/Applications">Applications <span class="sr-only">(current)</span></a></li>
            <!--<li ><a routerLink="/Maintenance">Maintenance <span class="sr-only"></span></a></li>-->
        
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{myAuth.FullName}}</a></li>
        </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="main-content">    
    <router-outlet></router-outlet>
</div>